@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "GeistMono";
    src: url("../src/public/Fonts/GeistMono-VariableFont_wght.woff2")
      format("woff2");
    font-weight: 200;
    font-style: normal;
  }
}

body {
  margin: 0;
  /* background-color: #fcffe7; */
  font-family: GeistMono;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background: #ffa53f;
}

.middle-btn-3:hover {
  --pos: 100% 100%;
  --scale: 200% 200%;
  --c1: #474747;
  --b1: #6f6f6f;
}

.middle-btn-3 {
  transition: 0.5s;
  border: 1px solid transparent;
  background: no-repeat var(--pos, 0% 0%) / var(--scale, 800% 800%)
      linear-gradient(
        to bottom right,
        #2d2d2d 5%,
        var(--c1, #2d2d2d) 57%,
        #545454 98%
      )
      padding-box,
    no-repeat var(--pos, 0% 0%) / var(--scale, 200% 200%)
      linear-gradient(
        to bottom right,
        #242424 5%,
        var(--b1, #242424) 57%,
        #474747 98%
      )
      border-box;
}
